.ant-layout {
    background-color: transparent;

    .ant-layout-header {
        background-color: transparent;
        line-height: 1;
    }

    .ant-layout-sider {
        background-color: transparent;
    }

    .ant-layout-footer {
        background-color: transparent;
        padding: 0;
    }
}