@import "./commonFun.less";

:root {
  .size100 {
    width: 100%;
    height: 100%;
  }

  .w100 {
    width: 100%;
  }

  .h100 {
    height: 100%;
  }

  .v-padding-4 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .h-padding-8 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .clear-v-margin {
    margin-top: 0;
    margin-bottom: 0;
  }

  .pointer {
    cursor: pointer;
  }

  .row-hover {
    &:hover {
      background-color: #e6f4ff;
    }
  }

  .common-border {
    border: 1px solid #ddd;
  }

  .text_center {
    text-align: center;
  }

  // flex 布局 主轴为 column  横向纵向都居中
  .v-flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  label {
    flex: none;
  }

  input {
    flex: auto;
  }
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background: #dfdcdc;

  &:hover {
    background: #d2e9ff;
  }
}