// 普通的边框
.common-border() {
  border: 1px solid var(--borderColor);
}

// 文本超出不换行显示省略号
.text_over_flow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 宽高100
.size100() {
  width: 100%;
  height: 100%;
}

// 设置input placeholder 样式
.input-placeholder(@fontSize, @color) {

  // placeholder 样式设置
  input::-webkit-input-placeholder {
    font-size: @fontSize;
    color: @color;
  }

  input::-moz-placeholder {
    font-size: @fontSize;
    color: @color;
  }

  input::-ms-input-placeholder {
    font-size: @fontSize;
    color: @color;
  }

  .ant-select-selection-placeholder {
    font-size: @fontSize;
    color: @color;
  }
}


// 修改title样式(不行.......)
.custom_title {
  position: relative;

  // title 样式修改
  &::after {
    /* 使用title属性的值作为content */
    content: attr(title);
    /* 让提示框以绝对定位 */
    position: absolute;
    /* 初始状态隐藏提示框 */
    display: none;
    font-size: 12px;
    line-height: 20px;
    padding: 8px 16px;
    color: var(--normalColor);
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    top: 28px;
    left: 0px;
    z-index: 1;
  }

  &::before {
    position: absolute;
    bottom: -2px;
    left: 20px;
    transform: translateX(-50%) translateY(100%) rotate(0deg);
    width: 16px;
    height: 8px;
    background: #00f1ff4d;
    clip-path: polygon(0.8284271247461903px 100%, 50% 0.8284271247461903px, 15.17157287525381px 100%, 0.8284271247461903px 100%);
    clip-path: path('M 0 8 A 2 2 0 0 0 1.414213562373095 7.414213562373095 L 7.292893218813452 1.5355339059327378 A 1 1 0 0 1 8.707106781186548 1.5355339059327378 L 14.585786437626904 7.414213562373095 A 2 2 0 0 0 16 8 Z');
    content: "";
    z-index: 2;
  }

  &:hover::after {
    display: block;
  }
}

// 修改 antd 表格边框颜色
.ant-table-border-color(@color) {
  .ant-table-wrapper.common-border {
    border-color: @color;
  }

  .ant-table-wrapper .ant-table .ant-table-title {
    border-color: @color;
  }

  .ant-table-wrapper .ant-table .ant-table-footer {
    border-color: @color;
  }

  .ant-table-wrapper .ant-table .ant-table-container {
    .ant-table-thead tr th.ant-table-cell {
      border-color: @color;
    }
  }

  .ant-table-wrapper .ant-table.ant-table-bordered .ant-table-container .ant-table-header {
    border-color: @color;
  }

  .ant-table-wrapper .ant-table>.ant-table-container>.ant-table-body>table>tbody>tr>td {
    border-color: @color;
  }

  .ant-table-wrapper .ant-table>.ant-table-container>.ant-table-body>.virtuallist>table>tbody>tr>td {
    border-color: @color;
  }

  .ant-table-wrapper .ant-table>.ant-table-container>.ant-table-content>table>tbody>.ant-table-row>.ant-table-cell {
    border-color: @color;
  }

  .ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-body {
    border-color: @color;
  }
}