:root {
  --colorPrimary: #3491FA;
  --colorPrimary1: #E8F3FF;
  --colorPrimary2: #BEDAFF;
  --colorPrimary3: #94BFFF;
  --colorDanger: #F53F3F;
  --colorDanger1: #FFECE8;
  --colorDanger3: #FBACA3;
  --colorDanger5: #F76560;
  --colorDanger7: #CB2634;
  --colorSuccess: #00B42A;
  --polarGreen: #52C41A;
  --colorSuccess1: #E8FFEA;
  --colorWarning: #FF7D00;
  --colorWarning5: #FF9A2E;
  --colorWarning7: #D25F00;
  --colorFill1: #F7F8FA;
  --colorFill2: #F2F3F5;
  --colorFill3: #E5E6EB;
  --colorFill4: #C9CDD4;
  --colorFill5: #F2F3F5;
  --colorCyan1: #E8FFFB;
  --colorCyan6: #0FC6C2;

  --normalColor: #1D2129;
  --tableOpEdit: #3491fa;
  --tableOpEditDisable: #9fd4fd;
  --tableOpDel: #f53f3f;
  --tableOpDelDisable: #fbaca3;
  --colorText2: #C9CDD4;
  // 用得较多的文字的颜色
  --colorText4: #4e5969;
  // 灰色文字 tips..
  --colorText3: #86909c;

  --titleColor: var(--normalColor);
  --tipsColor: var(--colorText3);
  --placeholderColor: var(--colorText3);
  --disabledColor: var(--colorFill4);
  // 表单元素文字颜色（input, select...）
  --formItemColor: var(--normalColor);
  --formLabelColor: #4E5969;
  // 表单元素禁用背景色
  --formItemDisabledBgColor: var(--colorFill2);
  // 表单元素禁用文字顔色
  --formItemDisabledColor: var(--colorFill4);
  --borderColor: #F2F3F5;
  --borderColor1: var(--colorFill3);
  // 表格选中颜色
  --tableSelectColor: #F2F7FF;
  // 表格鼠标悬浮行颜色
  --tableHoverColor: var(--colorFill2);
  // 表格斑马纹深色行颜色
  --tableZebraColor: #00000000;
  // TODO:表格无权限禁用文字颜色
  --tableDisabledColor: #bfbfbf;
  // 合并表头边框线颜色
  --mergeThBorderColor: #E5E6EB;
  // 合并表头高度
  --mergeThHeight: 33px;
  --tableHeaderBgColor: var(--colorFill2);
  --modalHeaderBgColor: #F3F4F8;
  --treeSelectBg: var(--colorPrimary1);

  /*** 按钮的一些颜色 start  **/
  // primary
  // --btn-bg-color-primary: #3491FA;
  --btnBgColorPrimaryHover: #57A9FB;
  --btnBgColorPrimaryActive: #206CCF;
  --btnBgColorPrimaryDisabled: #9FD4FD;
  // default
  --btnBgColorDefault: var(--colorFill1);
  --btnBgColorDefaultHover: var(--colorFill3);
  --btnBgColorDefaultActive: var(--colorFill4);
  --btnBgColorDefaultDisabled: var(--colorFill1);
  --btnColorDefaultDisabled: var(--colorText2);
  // link
  --btnColorLinkDisabled: #9FD4FD;
  /*** 按钮的一些颜色 end  **/

  // 按钮内文字大小
  --btnFontSize: 14px;
  // 表单元素文字大小
  --formFontSize: 14px;

  // 常规的表单组件的高度 包括按钮、输入框等
  --commonFormItemHeight: 32px;
  // 小一点的表单组件的高度 查询时
  --miniFormItemHeight: 28px;
}