.home-sider-menu {
  height: 100%;
  border-right: 1px solid var(--borderColor);
  margin-top: -1px;

  .ant-menu.siderMenu {
    height: calc(100% - 46px);
    border: none;
    padding: 0;
    overflow-y: auto;
    border-right: none !important;
    background: transparent;
    color: var(--colorText4);

    .ant-menu-item-icon {
      width: 16px;
      height: 16px;

      svg {
        // width: 16px;
        // height: 16px;
        position: relative;
        left: 1px;
      }
    }

    .ant-menu-item-icon+.ant-menu-title-content {
      margin-left: 12px;
    }

    // 第一级去缩进
    &>.ant-menu-item {
      padding-left: 12px !important;
      padding-right: 12px;
    }

    &>.ant-menu-submenu {
      &>.ant-menu-submenu-title {
        padding-left: 12px !important;
      }
    }

    .ant-menu-submenu.ant-menu-submenu-selected {
      &>.ant-menu-submenu-title {
        font-weight: bold;
      }
    }

    &.ant-menu-collapse {
      width: 100%;
    }

    .ant-menu-item-selected {
      background-color: var(--btnBgColorDefault);
      font-weight: bold;
    }

    .ant-menu-submenu-arrow {
      right: 12px;
    }

    .ant-menu-submenu-arrow::before,
    .ant-menu-submenu-arrow::after {
      height: 1px;
    }

    .ant-menu-sub.ant-menu-inline {
      background-color: transparent;

      .ant-menu-item {
        .ant-menu-item-icon {
          width: 0;
          min-width: 0;
        }
      }
    }
  }

  .collapse-btn {
    display: flex;
    justify-content: flex-end;
    // width: 100%;
    // height: 46px;
    font-size: 16px;
    // color: white;
    padding-right: 22px;
    padding-top: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    // background-color: #2b2f3e;
    // font-size: 24px;
    .collapse-icon {
      width: 24px;
      height: 24px;
    }

    &:hover {
      // background-color: #3678BB;

    }
  }
}