.home-page {
  position: relative;
  overflow: hidden;

  .home-page-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .all_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;

    .page-container {
      width: 100%;
      height: 100%;
      position: relative;
      padding: 16px;

      &.size-limit {
        min-width: 1230px;
        min-height: 672px;
      }
    }
  }
}