.app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  // min-width: 1200px;
  // min-height: 600px;


  // 86版本浏览器下默认样式修改
  input:-internal-autofill-selected {
    background-color: #00f1ff4d !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    outline: none !important;
  }

  *:focus {
    outline: none !important;
  }

}