@import "./styles/theme.less";
@import "./styles/commonFun.less";
@import "./styles/common.less";
@import "./styles/commonLayout.less";
@import "./styles/antd.less";

* {
  box-sizing: border-box;
  // user-select: none;

  font-family: Microsoft YaHei-Regular, Microsoft YaHei;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  .input-placeholder(14px, var(--placeholderColor));
}

#root {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

// 去除input 自动填充背景色
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 111111s;
  -webkit-transition: color 11111s ease-out, background-color 111111s ease-out;
}